terraform {
  source = "tfr:///CAVEconnectome/cave/google//modules/local_cluster?version=0.0.27"
}

include "root" {
  path = find_in_parent_folders("root.hcl")
}

dependency "static" {
  config_path = "../static"
}

inputs = {
  network                  = dependency.static.outputs.network_self_link
  subnetwork               = dependency.static.outputs.subnetwork_self_link
  zone                     = "{{ zone }}"
  cluster_prefix           = "{{ local_cluster_prefix }}"
  letsencrypt_email        = "{{ letsencrypt_email }}"
  pcg_redis_host           = dependency.static.outputs.pcg_redis_host
  skeleton_cache_cloudpath = dependency.static.outputs.skeleton_cache_cloudpath
  materialization_dump_bucket_name   = dependency.static.outputs.materialization_dump_bucket_name
  materialization_upload_bucket_name = dependency.static.outputs.materialization_upload_bucket_name
  dns_entries = {
      "{{ local_cluster_prefix }}" = {
        zone        = "{{ dns_zone }}"
        domain_name = "{{ local_cluster_prefix }}.{{ domain_name }}"
      },
      "{{ local_environment_name }}" = {
        zone        = "{{ dns_zone }}"
        domain_name = "{{ local_environment_name }}.{{ domain_name }}"
      }
    }
  # mat_redis_host   = ""
}

locals {
  prefix = "{{ local_environment_name }}/${path_relative_to_include()}"
}
