terraform {
  source = "tfr:///CAVEconnectome/cave/google//modules/local_kubernetes?version=0.0.27"
}

include "root" {
  path = find_in_parent_folders("root.hcl")
}

dependency "static" {
  config_path = "../../static"
}

dependency "cluster" {
  config_path = ".."
}

inputs = {
  cluster_prefix        = "{{ local_cluster_prefix }}"
  cluster_name          = dependency.cluster.outputs.cluster_name
  cluster_location      = dependency.cluster.outputs.cluster_location
  cluster_ip            = dependency.cluster.outputs.cluster_ip
  standard_pool_name    = dependency.cluster.outputs.standard_pool_name
  lightweight_pool_name = dependency.cluster.outputs.lightweight_pool_name
  mesh_pool_name        = dependency.cluster.outputs.mesh_pool_name
  core_pool_name        = dependency.cluster.outputs.core_pool_name
  pcg_redis_host        = dependency.static.outputs.pcg_redis_host
  skeleton_cache_cloudpath           = dependency.static.outputs.skeleton_cache_cloudpath
  materialization_dump_bucket_name   = dependency.static.outputs.materialization_dump_bucket_name
  materialization_upload_bucket_name = dependency.static.outputs.materialization_upload_bucket_name
  dns_entries = dependency.cluster.outputs.dns_entries
  helm_config_dir = "${dirname(get_terragrunt_dir())}/helmfile"
  workload_identity_gsa_email = dependency.cluster.outputs.workload_identity_service_account_email
  # mat_redis_host = ""
}
